<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
	<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="stylesheet/inside.css">
    <style type="text/css">
        body {
            text-align: center;
        }
    </style>

</head>

<body>
    <% include stuff/nav.ejs %>
        <div class="login-page">
            <div class="form">

                <h4>Eba! vcs chegaram :)</h4>
                <p>Aí está seu QR code com a promoção</p>
<img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fcarone.mybluemix.net%2Fthanks%2Fverythanks%3A)&chs=180x180&choe=UTF-8&chld=L|2' rel='nofollow' alt='qr code'>
                <a href='http://www.qrcode-generator.de' border='0' style='cursor:default' rel='nofollow'></a>
                <p>Um bom rolê pra vcs!</p>
                <a href='/'><button >Vou dar mais uma volta</button></a>
            </div>
        </div>
</body>

</html>
